@import url("https://fonts.googleapis.com/css2?family=Metal+Mania:wght@400;500;600&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Metal Mania", sans-serif;
  background-color: #eee;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.main-title {
  margin: 0;
  font-weight: 500;
  font-size: 45px;
  color: #363c48;
}

.scroll {
  height: 25vh;
  overflow: scroll;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(177, 172, 172, 0.13);
}

.header-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #363c48;
  padding: 0 10px;
  border-radius: 10px;
}

.header-icon {
  color: #581b12;
  padding-left: 20px;
  font-size: 35px;
}

.recent-score {
  font-weight: 500;
  font-size: 25px;
  margin-right: 20px;
  color: #fff;
}

.refresh-btn {
  margin-left: 10px;
}

.score {
  padding: 20px;
  border-radius: 20px;
  background-color: #f27a69;
  width: 50%;
}

.user-img {
  width: 40px;
  height: 40px;
}

.user-img img {
  width: 100%;
}

.users {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  background-color: #fa6855;
  line-height: 30px;
  color: #fff;
}

.users:nth-child(2n) {
  background-color: #e0574f;
}

.score-name {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 40px;
}

.refresh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 10px;
  background-color: #f28766;
  color: #fff;
  width: 120px;
  height: 40px;
  box-shadow: 1px 2px 4px black;
  transition: all 0.5s;
}

.result-ul {
  border: 3px solid #363c48;
  border-radius: 10px;
}

.refresh:hover {
  transition: all 0.5s;
  background-color: transparent;
  border: 2px solid #fff;
  color: #f28766;
}

.form-div {
  background-color: #f08064;
  width: 35%;
  padding: 20px;
  border-radius: 20px;
}

.form-title {
  color: #363c48;
}

.form input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  height: 100%;
  padding-left: 10px;
}

.form-inputs {
  display: flex;
  align-items: center;
  border: 2px solid #363c48;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 30px;
}

.submit-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 10px;
  background-color: #363c48;
  color: #fff;
  width: 120px;
  height: 40px;
  box-shadow: 1px 2px 4px black;
  transition: all 0.5s;
}

.submit-score:hover {
  transition: all 0.5s;
  background-color: transparent;
  border: 2px solid #fff;
  color: #363c48;
}
